html {
	background: black;
	 font-family: Tahoma;
	 font-size: 14px;
}

body *  {
	color: white;
	margin: 8px;
	border-radius: 8px;
	text-align: center;
}

.header {
	font-size: 46px;
}

.contenedor {
	background: black;
	justify-content: space-between;
}

.navigation {
	display: inline-block;
	width: 20%;
	height: 600px;
	float: left;
	font-size: 12px;
}

.content {
	background: gray;
	display: inline-block;
	width: 56%;
	height: 600px;
	font-size: 14px;
}

.headerSection {
	height: 20%;
}

article {
	font-size: 20px;
	height: 54%;
}

.footerSection {
	height: 20%;
}

.sidebar {
	display: inline-block;
	width: 20%;
	height: 600px;
	float: right;
	font-size: 10px;
}

.footer {
	font-size: 10px;
}

div[class*="a"]{
	background: blue;
}
div[class$="r"]{
	background: magenta;
}