html {
	background: black;
}

div {
	color: white;
	font-size: 20px;
	background: gray;
	text-align: center;
	border: 6px solid #949599;
  	margin: 20px;
  	padding: 20px;
  	height: 100px;
}
.header {
  	box-sizing: border-box;
}

.navigation {
	float: left;
	box-sizing: content-box;
  	width: 400px;
}

.content {
	display: inline-block;
	width: 400px;
}

.content *{
	display: inline-block;
	background: gainsboro;
}

.sidebar {
	float: right;
  	width: 400px;
}



.footer {
	box-sizing: border-box;
}

/*div[class*="a"]{		Esto era para el ejercicio 2.3) 4 y 5
	background: blue;
}

div[class$="r"]{
	background: magenta;
}*/